<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INFO KFC</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        div{
            background-color: white;
        }

        body{
            background-color: #1e1e1e;
        }

        .cabecera{
            padding: 20px 20px 10px 50px;
        }

        .op {
            padding: 40px 5px 5px 5px;
        }

        .letrasKFC{
            color: #c32337;
            font-style: oblique;
            font-size: 50px;
            font-family: "Arial Black";
        }

        .img{
            padding: 23px 5px 5px 5px;
        }

        .letrasOp{
            color: black;
            font-style: normal;
            font-size: 13px;
            font-family: "Arial Black";
        }

        .letras{
            color: black;
            font-style: normal;
            font-size: 30px;
            font-family: "Arial Black";
        }
        .letrasFin{
            color: #c32337;
            font-style: normal;
            font-size: 10px;
            font-family: "Arial Black";
            text-align: center;

        }

        .pad{
            padding: 30px 20px 30px 30px;
            border: 0px;
        }

        .extremos{
            padding-right: 50px;
            padding-left: 160px;

        }

        .izquierda{
            padding-left: 30px;
        }

        .rojo{
            background-color: #c32337;
        }

        .borde{
            border-right: 3px solid white;
        }

        .separador{
            margin-bottom: 100px;
        }

        h4{
            text-align: center;
        }

        .blanco{

            color: white;
        }

        .parrafo{
            color: darkslategray;
            font-family: "Calibri Light";
        }

        .lados{
            padding-right: 80px;
            padding-left: 40px;
            padding-bottom: 30px;
            padding-top: 40px;
        }

        .bordeBajo{
            border-right: 1.5px solid gray;
        }

        .copyRight{
            font-style: normal;
            font-size: 15px;
            font-family: "Calibri Light";
            color: white;
            text-align: center;
        }

    </style>

</head>
<body>

<div class="container">


    <div class="row">
        <div class="cabecera col-lg-5">
                <h1 class="letrasKFC">KFC</h1>
        </div>

        <div class="op col-lg-2">
            <h6 class="letrasOp">QUIENES SOMOS</h6>
        </div>
        <div class="op col-lg-2">
            <h6 class="letrasOp">TELÉFONOS DOMICILIO</h6>
        </div>
        <div class="img col-lg-3">
                <img src="/imagenes/img.png"
                     alt="KFC">
            <span class="letrasOp">PEDIR A DOMICILIO</span>
        </div>
    </div>

    <div class="extremos pad rojo row">

        <div class="letrasOp rojo blanco col-lg-3 borde">SÉ PARTE DE KFC</div>
        <div class="letrasOp rojo blanco col-lg-1 borde">BLOG</div>
        <div class="letrasOp rojo blanco col-lg-2 borde">CONTACTO</div>
        <div class="letrasOp rojo blanco col-lg-3 borde">TÉRMINOS Y CONDICIONES</div>
        <div class="letrasOp rojo blanco col-lg-3">POLÍTICAS DE PRIVACIDAD</div>
    </div>

    <div class="izquierda row">
        <img src="/imagenes/nuevo.png"
             alt="KFC">
    </div>

        <div class="row">
            <div class="izquierda col-lg-5">
                <img src="/imagenes/img2.png"
                     alt="KFC">
            </div>
            <div class="lados col-lg-7">
                <h1 class="letras">
                    <br>
                    <b>
                        SOMOS EL MÁS FAMOSO SABOR EN LA TIERRA
                    </b>
                </h1>
                <p class="parrafo">
                    Kentucky Fried Chicken, más conocido por sus siglas KFC,
                    es la cadena de restaurantes de pollo más importante del mundo, iniciada por Harland
                    D. Sanders en los años 30 en los Estados Unidos, actualmente cuentacon más de 18.000 restaurantes
                    y presencia en más de 120 países.
                </p>
                <p class="parrafo">
                    KFC ofrece el sabor único con la receta secreta del Coronel Sanders siendo el sabor del pollo
                    más famoso y reconocido en el mundo. KFC es sinónimo de innovación en menú con una amplia gama
                    de productos que cuentan con la preferencia del consumidor ecuatoriano.
                </p>

                <p class="parrafo">
                    En Ecuador, KFC tiene la misión de innovar continuamente en el mercado de comida, a través de
                    la consistencia en la ejecución de los procesos, la innovación continua en equipos y productos,
                    en tener equipos comprometidos con su trabajo y el cliente, poseer una propuesta de variedad en sabor
                    y contando siempre con productos frescos y preparados al instante.
                </p>
                <p class="parrafo">
                    <b>
                        KFC ¡BUENÍSIMO!
                    </b>
                </p>
            </div>
        </div>

        <div class="separador"></div>

        <h4 class="parrafo">
                SÍGUENOS EN NUESTRAS REDES SOCIALES
        </h4>
    <br>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3"><img src="/imagenes/facebook.png"
                                           alt="facebook"></div>
                <div class="col-lg-3"><img src="/imagenes/twitter.png"
                                           alt="twitter"></div>
                <div class="col-lg-3"><img src="/imagenes/instagram.png"
                                           alt="instagram"></div>
                <div class="col-lg-3"><img src="/imagenes/youtube.png"
                                           alt="youtube"></div>
            </div>
        </div>

        <div class="col-lg-4"></div>
        <br>
        <br>
        <br>

    </div>

    <div class="row">
        <div class="letrasFin bordeBajo col-lg-1 borde">Locales</div>
        <div class="letrasFin bordeBajo col-lg-1 borde">Sé parte de KFC</div>
        <div class="letrasFin bordeBajo col-lg-2 borde">Quienes Somos</div>
        <div class="letrasFin bordeBajo col-lg-1 borde">Blog</div>
        <div class="letrasFin bordeBajo col-lg-1 borde">Contacto</div>
        <div class="letrasFin bordeBajo col-lg-2 borde">Políticas de Privacidad</div>
        <div class="letrasFin bordeBajo col-lg-2 borde">Términos y condiciones</div>
        <div class="letrasFin bordeBajo col-lg-2 borde">Preguntas frecuentes</div>

    </div>
    <div class="row separador">
        <br>
        <br>
    </div>

    <div class="separador">
    </div>

</div>
<body>
    <h6 class="copyRight">Copyright © GrupoKFC</h6>
</body>

 </body>
</html>