<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title> </head>

    <style>

        /* comentarios*/
        /* selector {p1:valor; p2: valor} */
        /* Selector de Etiquetas*/
        h1 {
            color: whitesmoke;
            background-color: mediumseagreen;
        }
        p,div,h2{
            color: whitesmoke;
            background-color:maroon;
        }
        p{
            color: whitesmoke;
            background-color:rgb(0, 102, 128);
        }
        /* Selector de Identificador*/
        #adios{
            color:black;
            background-color:teal;

        }
        /* Selector de Clase*/
        .verde{
            color:black;
            background-color:tomato;

        }

        p{
            color: orange;
            background-color: green;
        }
        p{
            color: blue;
            background-color: aqua;
        }

        .verde{
            color: greenyellow;
        }.azul{
            color: deepskyblue;
        }.morado{
            color: deeppink;
        }

        p.verde{
            color: white;
        }
        p.verde.azul{
            color: black;
        }


    </style>


<body>
    <h1>Hola</h1>
    <h1 id="adios">Adios</h1>
    <h1 class="verde">Bienvenidos</h1>
    <p>Barcelona</p>
    <div>Liga</div>
    <h2>Emelec</h2>
    <p class="morado verde azul ">Lo que sea</p>
    <div class="verde">verde uno</div>
    <p class="verde azul">verde dos</p>

</body>
</html>