<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>PELICULAS-LSTA</title>
        <meta charset="UTF-8">
        <link rel="icon"
              href="http://localhost:3000/imagenes/logo epn.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!--comentario Header 1-6-->
        <h1>titulo 1</h1>
        <h2>titulo 2</h2>
        <h3>titulo 3</h3>
        <h4>titulo 4</h4>
        <h5>titulo 5</h5>
        <h6>titulo 6</h6>

        <p>Este es
            <span>otro parrafo</span>
            mi parrafo</p>

    <ul>
        <!--unorder list son con puntos-->
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>

        <!--order list viñetas numeradas-->
    <ol>
        <li>a</li>
        <li>b</li>
        <li>c</li>
    </ol>

        <!--anchor-->
        <a href="http://www.google.com" target="_blank">    Google externo (blank) </a>

        <a href="http://www.google.com" target="_self">Google externo (self)</a>
        <a href="http://www.google.com">Google aqui mismo</a>
                    <!--mage-->
         <img src="/imagenes/logo epn.png"
              alt="Logo EPN">

                    <form action="">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" type="text">

                        <button>enviar datos</button>
                    </form>

                    <label for="fuera">fuera formulario</label>
                    <input id="fuera" type="text">
                    <button>enviar datos fuera </button>


    </body>


    </body>
</html>

