<style>

    .bienvenido{
        font-size: 30px;
        text-align: center;
    }
</style>

<% const existeNombre = typeof nombre!=="undefined";%>

<ul>
    <li>
        Inicio
    </li>
    <li>Login
    </li>
</ul>
<p class="bienvenido">Bienvenido:

    <%if(existeNombre){%>
       <%=nombre%>
    <%}else{%>
       Usuario
    <%}%>
</p>