<!--view/login.ejs-->
<!--login GET ->LOGIN-->
<!--login POST ->LOGIN-->
<!--login GET ->LOGIN-->
<!--login GET ->LOGIN-->


<form action="/api/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="text" name="password" id="password">

    <button TYPE="submit">LOGIN</button>


</form>